In [ ]:
import json
import numpy as np
import pandas as pd
from scipy.spatial.distance import cosine
from geopy import distance
import datetime

import warnings
warnings.filterwarnings('ignore')

In [ ]:
driver_df = pd.read_csv('/content/drive/Shareddrives/Brillante Workspace/ML Corner/Dataset/kotlite_dataset/kotlite_driver_dataset.csv')
driver_df['pickup_datetime'] = pd.to_datetime(driver_df['pickup_datetime'])
driver_df.describe(include='all')

               id  ...                                             routes
count         100  ...                                                100
unique        100  ...                                                100
top     id1556677  ...  [[40.7708907, -73.9906726], [40.7636484, -73.9...
freq            1  ...                                                  1
first         NaN  ...                                                NaN
last          NaN  ...                                                NaN
mean          NaN  ...                                                NaN
std           NaN  ...                                                NaN
min           NaN  ...                                                NaN
25%           NaN  ...                                                NaN
50%           NaN  ...                                                NaN
75%           NaN  ...                                                NaN
max           NaN  ...                                                NaN

[13 rows x 7 columns]

In [ ]:
passanger_df = pd.read_csv('/content/drive/Shareddrives/Brillante Workspace/ML Corner/Dataset/kotlite_dataset/kotlite_passanger_dataset.csv')
passanger_df['pickup_datetime'] = pd.to_datetime(passanger_df['pickup_datetime'])
passanger_df.describe(include='all')

               id      pickup_datetime  ...  dropoff_latitude  dropoff_longitude
count        1000                 1000  ...       1000.000000        1000.000000
unique       1000                  951  ...               NaN                NaN
top     id2403147  2016-01-06 22:22:00  ...               NaN                NaN
freq            1                    3  ...               NaN                NaN
first         NaN  2016-01-01 00:08:00  ...               NaN                NaN
last          NaN  2016-01-08 21:51:00  ...               NaN                NaN
mean          NaN                  NaN  ...         40.751141         -73.970161
std           NaN                  NaN  ...          0.034755           0.039180
min           NaN                  NaN  ...         40.553360         -74.181625
25%           NaN                  NaN  ...         40.734289         -73.990480
50%           NaN                  NaN  ...         40.755320         -73.978950
75%           NaN                  NaN  ...         40.771060         -73.960032
max           NaN                  NaN  ...         40.875576         -73.731255

[13 rows x 6 columns]

In [ ]:
driver_df.head(2).values

array([['id2583702', Timestamp('2016-01-02 01:15:00'), 40.73067856,
        -73.99221802, 40.70993805, -74.01551056,
        '[[40.7307192, -73.9923032], [40.7254948, -73.9967242], [40.7291418, -74.0105651], [40.7098322, -74.0150523], [40.7098977, -74.0155262]]'],
       ['id2556899', Timestamp('2016-01-08 07:58:00'), 40.76783371,
        -73.91178131, 40.75821686, -73.9196167,
        '[[40.7678409, -73.91179679999999], [40.7582215, -73.91962649999999]]']],
      dtype=object)

In [ ]:
# create l1 distance function
def l1_distance(point1, point2):
  l1 = 0
  for i in range(len(point1)):
    l1 += abs(point1[i] - point2[i])
  return l1

# to get minimum point from start or end passanger point
def driver_data_handler(single_driv_data, passanger_point):
  # passanger point == [latitude, longitude]
  routes = single_driv_data[-1]

  driver_routes = []

  # pop start point data to driver routes
  driver_routes.append([single_driv_data[2], single_driv_data[3]])
  
  # parse routes and iterate to pop driver point to driver routes
  route_parse = json.loads(routes)
  for _route in route_parse:
    driver_routes.append(_route)
  
  # pop end point data to driver routes
  driver_routes.append([single_driv_data[4], single_driv_data[5]])
  
  # after get driver_routes list, calculate distance
  dist = []
  for driver_point in driver_routes:
    l1_dist = l1_distance(passanger_point, driver_point)
    dist.append(l1_dist)
  
  # get minimum values info
  min_val = min(dist)
  idx = dist.index(min_val)
  nearest_point = driver_routes[idx]
  return min_val, idx, nearest_point

In [ ]:
# get nearest driver from passanger point
# query include [pickup_datetime, pickup_latitude, pickup_longitude, dropoff_latitude, dropoff_longitude]
def nearest1st_step(driver_data, query):
  # nearest 1st step is use for get nearest distance, and in one way
  picktime = query[0]
  
  # create filter for 30 minutes before and after picktime
  diff = datetime.timedelta(minutes=30)
  upth = picktime + diff
  lowth = picktime - diff
  
  # filter driver_data
  driver_data = driver_data.loc[(driver_data['pickup_datetime'] < upth) & (driver_data['pickup_datetime'] > lowth)]

  # get distance from routes point data
  dist = []
  for drdt in driver_data.values:
    start, _snear, pu_nearest_point = driver_data_handler(drdt, [query[1], query[2]])
    end, _enear, do_nearest_point = driver_data_handler(drdt, [query[3], query[4]])
    if _snear <= _enear:
      dist.append((start + end, drdt[0], pu_nearest_point, do_nearest_point))
  
  # sorting distance
  sorted_dist = sorted(dist)

  # list for recomendations
  recommendations = []
  # get real distance from pickup/dropoff point from snear or enear point
  for data in sorted_dist:
    # distance from pickup point to pu_nearest_point
    pick_distance = distance.distance([query[1], query[2]], data[2]).km
    drop_distance = distance.distance([query[3], query[4]], data[3]).km
    if (pick_distance <= 1.0) & (drop_distance <= 1.0).km:
      recommendations.append((data[1]))

  return sorted_dist

In [ ]:
pass_data = passanger_df.sample(1).values.reshape(-1)
pass_data = pass_data[1:]
pass_data

array([Timestamp('2016-01-06 06:52:00'), 40.7505455, -73.99465179,
       40.72822952, -74.00719452], dtype=object)

In [ ]:
nearest1st_step(driver_df, pass_data)

[(0.031519289999998534,
  'id3216829',
  [40.749101, -73.992006],
  [40.7441135, -73.9956495])]

In [ ]:
driver_df[driver_df['id'] == 'id3216829'].values

array([['id3216829', Timestamp('2016-01-06 07:12:00'), 40.74909210000001,
        -73.99145508, 40.74123383, -73.9881134,
        '[[40.74891520000001, -73.9915943], [40.749101, -73.992006], [40.7441135, -73.9956495], [40.741005, -73.9882813]]']],
      dtype=object)